
.vs/RH/config/applicationhost.config
.vs/RH/CopilotIndices/0.2.1627.58842/CodeChunks.db
.vs/RH/CopilotIndices/0.2.1627.58842/CodeChunks.db-shm
.vs/RH/CopilotIndices/0.2.1627.58842/CodeChunks.db-wal
.vs/RH/CopilotIndices/0.2.1627.58842/SemanticSymbols.db
.vs/RH/CopilotIndices/0.2.1627.58842/SemanticSymbols.db-shm
.vs/RH/CopilotIndices/0.2.1627.58842/SemanticSymbols.db-wal
.vs/RH/DesignTimeBuild/.dtbcache.v2
.vs/RH/FileContentIndex/023e6b12-6c82-4003-afc9-401b3e507662.vsidx
.vs/RH/FileContentIndex/47580f1d-12aa-4fd2-b45e-7d3e8ef7e610.vsidx
.vs/RH/v17/.suo
.vs/RH/v17/DocumentLayout.backup.json
.vs/RH/v17/DocumentLayout.json
RH/bin/Debug/net8.0/appsettings.json
RH/bin/Debug/net8.0/RH.dll
RH/bin/Debug/net8.0/RH.exe
RH/bin/Debug/net8.0/RH.pdb
RH/bin/Debug/net8.0/RH.staticwebassets.runtime.json
RH/bin/Debug/net8.0/appsettings.json
RH/bin/Debug/net8.0/RH.dll
RH/bin/Debug/net8.0/RH.exe
RH/bin/Debug/net8.0/RH.pdb
RH/bin/Debug/net8.0/RH.staticwebassets.runtime.json
RH/obj/Debug/net8.0/ApiEndpoints.json
RH/obj/Debug/net8.0/apphost.exe
RH/obj/Debug/net8.0/ref/RH.dll
RH/obj/Debug/net8.0/refint/RH.dll
RH/obj/Debug/net8.0/RH.AssemblyInfo.cs
RH/obj/Debug/net8.0/RH.AssemblyInfoInputs.cache
RH/obj/Debug/net8.0/RH.assets.cache
RH/obj/Debug/net8.0/RH.csproj.AssemblyReference.cache
RH/obj/Debug/net8.0/RH.csproj.BuildWithSkipAnalyzers
RH/obj/Debug/net8.0/RH.csproj.CoreCompileInputs.cache
RH/obj/Debug/net8.0/RH.csproj.FileListAbsolute.txt
RH/obj/Debug/net8.0/RH.dll
RH/obj/Debug/net8.0/RH.GeneratedMSBuildEditorConfig.editorconfig
RH/obj/Debug/net8.0/RH.genruntimeconfig.cache
RH/obj/Debug/net8.0/RH.pdb
RH/obj/Debug/net8.0/RH.sourcelink.json
RH/obj/Debug/net8.0/staticwebassets.build.json
RH/obj/Debug/net8.0/staticwebassets.development.json
RH/obj/Debug/net8.0/staticwebassets.pack.json
